@model LancheListViewModel

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>
<h2>@ViewData["Data"]</h2>
@*<hr />
<h3>@ViewBag.Total @ViewBag.TotalLanches</h3>
<hr />*@

@*<h3>@TempData["Nome"]</h3>*@

<br />

<div class="container">
    <div class="row justify-content-center">
        @foreach (var lanche in Model.Lanches)
        {
            <partial name="_LanchesResumo" for="@lanche"/>
        }
    </div>

</div>